
body{
  padding-bottom:150px;
  background-color: #ebedef !important;
}

@media only screen and (min-width : 480px) {

  .footer-padding {
      position: fixed;
      bottom: 0;
  }

}

@media only screen and (max-width : 480px){
  .text-xs-center{
    text-align: center;
  }
}